.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: 'center';
  justify-content: 'space-around';
  margin-top: '11%%';
  max-width: 1400px;
  margin:0 auto;
  padding-top:30px;
}

